body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

.bx--data-table-container {
  margin-bottom: 2rem;
}

.bx--slider-container {
  margin-bottom: 1rem;
}
