body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.heading-title {
  display: flex;
  align-items: center;
}

.heading-icon {
  margin-right: 1rem;
}

.bx--data-table-container {
  margin-bottom: 2rem;
}

.bx--slider-container {
  margin-bottom: 1rem;
}

.pointer-event {
  pointer-events: fill;
}

.bx--modal.is-visible {
  padding-top: 5rem;
}

.swipe-indicator {
  z-index: unset !important;
}

.swipeable-item-inner {
  height: 100%;
}
